<section class="home-content" ng-controller="HomeController">
    <div class="home-title">
        <h1>Pomodoro Champion</h1>
        Victorious time management for idividuals and teams
        <a class="btn btn-primary" href="/authentication/signup">Sign up to get started</a>
    </div>
    <div class="col-md-4">
            <h2>Time Tracking</h2>
            <p>Ut in ex rutrum, dictum justo quis, eleifend tortor. Sed aliquam augue nisl, sit amet porta urna ullamcorper vitae. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque nibh justo, lobortis id dictum iaculis, accumsan id orci. Suspendisse potenti. Suspendisse porttitor ipsum eget malesuada ornare. Aliquam erat volutpat.</p>
            <img src="/media/timer.png" alt="">
    </div>
    <div class="col-md-4">
            <h2>Detailed Reporting</h2>
            <p>Ut in ex rutrum, dictum justo quis, eleifend tortor. Sed aliquam augue nisl, sit amet porta urna ullamcorper vitae. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque nibh justo, lobortis id dictum iaculis, accumsan id orci. Suspendisse potenti. Suspendisse porttitor ipsum eget malesuada ornare. Aliquam erat volutpat.</p>
            <img src="/media/reporting.png" alt="">
    </div>
    <div class="col-md-4">
        <h2>Total Customization</h2>
        <p>Ut in ex rutrum, dictum justo quis, eleifend tortor. Sed aliquam augue nisl, sit amet porta urna ullamcorper vitae. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque nibh justo, lobortis id dictum iaculis, accumsan id orci. Suspendisse potenti. Suspendisse porttitor ipsum eget malesuada ornare. Aliquam erat volutpat.</p>
        <img src="/media/customizable.png" alt="">
    </div>
</section>
