<section>

    <div class="preferences-container">
        <p>Pomodoro length: <input type="text" ng-model="prefServ.userPrefs.pomLength" ng-change="prefServ.savePrefs(key, value)"> minutes</p>
        <p>Break length: <input type="text" ng-model="prefServ.userPrefs.breakLength" ng-change="prefServ.savePrefs(key, value)"> minutes</p>
        <p>Long break length: <input type="text" ng-model="prefServ.userPrefs.longBreakLength" ng-change="prefServ.savePrefs(key, value)"> minutes</p>
        <p>Number of poms before long break: <input type="text" ng-model="prefServ.userPrefs.pomsBeforeLongBreak" ng-change="prefServ.savePrefs(key, value)"></p>
        <p>Notify when pom ends: <input type="checkbox" ng-model="prefServ.userPrefs.notifyWhenPomEnds" ng-change="prefServ.savePrefs(key, value)"></p>
        <p>Automatically start next pom: <input type="checkbox" ng-model="prefServ.userPrefs.automaticallyStartNextPom" ng-change="prefServ.savePrefs(key, value)"></p>
        <p>
          <input type="checkbox" ng-model="prefServ.userPrefs.confirmPomCancel" ng-change="prefServ.savePrefs(key, value)">
          Confirm when I cancel a pom if I have
          <input type="text" ng-model="prefServ.userPrefs.pomCancelConfirmationThresholdMinutes" ng-change="prefServ.savePrefs(key, value)">
          minute<span ng-show="prefServ.userPrefs.pomCancelConfirmationThresholdMinutes > 1">s</span> or less remaining </p>
          <p>Enable the pause button: <input type="checkbox" ng-model="prefServ.userPrefs.enablePomPause" ng-change="prefServ.savePrefs(key, value)"></p>
    </div>

    <!--Post preferences array and overwrite the old one when saved (is that safe?).-->

</section>
