<h1>Reports</h1>

<div class="btn-group report-range" role="group" aria-label="...">
  <button class="btn btn-default" ng-repeat="range in reportRanges" ng-click="$parent.rangeChanged(range)">{{ range }}</button>
</div>

<h2>{{ reportRange }}<span class="total-in-report">{{ calcTotalInReport() }}</span></h2>
<div class="chart">

  <div class="graph">
    <div class="day" style="height: {{ calcBarHeight(day.pomLogs.pomsCompleted) }}px" ng-repeat="day in report">
      <span>{{ day.pomLogs.pomsCompleted }}</span>
    </div>
  </div>

  <div class="dates">
    <div class="date" ng-repeat="day in report">
      <span class="day">{{ day.pomLogs.date | date : 'EEEE'}}</span>
      <span class="mon-date">{{ day.pomLogs.date | date : 'MMMM d'}}</span>
    </div>
  </div>

</div>

<table class="result-list">
  <tbody>
    <tr>
      <th>Date</th>
      <th>Poms Completed</th>
      <th>Poms Failed</th>
    </tr>
    <tr ng-repeat="day in report">
      <td>{{ day.pomLogs.date | date : 'EEEE, MMMM d'}}</td>
      <td>{{ day.pomLogs.pomsCompleted }}</td>
      <td>{{ day.pomLogs.pomsFailed }}</td>
    </tr>
  </tbody>
</table>

<a href="/import" class="import-pom-link">Import a pom</a>
