.chart {
    margin-bottom: 80px;
    .date {
        width: 14.285%;
        text-align: center;
        margin: 0 10px;
        max-width: 100px;
        .day, .mon-day {
            display: block;
        }
        .day:after {
            content: ',';
        }
    }
}

.graph {
    padding: 20px 20px 0 20px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    background: repeating-linear-gradient(to top, #ddd, #ddd 1px, #fff 1px, #fff 20px);
    border-top: solid 1px #ddd;
    .day {
        width: 14.285%;
        text-align: center;
        background: red;
        color: white;
        margin: 0 10px;
        max-width: 100px;
    }
}

/* Styling for dates underneath chart */
.dates {
    padding: 10px 20px 0 20px;
    display: flex;
    justify-content: space-around;
}

.total-in-report {
    font-size: 12px;
    color: #AFAFAF;
    font-weight: 400;
    margin-left: 10px;
}

.import-pom-link {
  display: block;
}

.report-range {
  display: flex;
  display: flex;
  flex-wrap: wrap;
  button {
    margin: 10px;
  }
}

// Result list
.result-list td, .result-list th {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
