.timer-container {
  padding: 40px 15px;
  text-align: center;
  .timer {
    font-size: 80px;
    line-height: 60px;
    margin: 10px 0;
    font-weight: 100;
  }
  .timer-pom {
    color: red;
  }
  .timer-break, .timer-longBreak {
    color: green;
  }
  .timer-buttons {
    margin: 10px 0;
  }
}

/* Circles for counting poms */

.circle-container {
  margin: 10px 0;
  .ui-effects-wrapper {
    display: inline;
  }
}

.circle {
  background-color: red;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 4px;
}

#deletePom {
  display: none;
}

// Cancel Timer modal
#cancelModal .modal-body span {
  font-size: 30px;
}

// Task section
.task-container {

  .task {

    border: #eaeaea solid;
    border-width: 0 0 1px 0;
    padding: 10px;

    .complete {
      margin-right: 15px;
    }

    .title {
      font-weight: bold;
      margin-right: 15px
    }

    .time-estimate {
      border: 0;
      width: 2em;
      background: transparent;
      &:focus {
        outline: none;
      }
    }

  }

  .completed {
      color: #eaeaea;
   }

  .selected {
    background-color: #eeeeee;
  }

  .create-task {

    padding: 10px;

    .title {
      border: none;
      width: 100%;
      &:focus {
        outline: none;
      }
    }

  }

} 